<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <style>
      footer {position: absolute; bottom: 0;}
    </style>
  </head>

  <body>
    {{ body }}

  <footer>
    <p># generated on {{ ansible_hostname }} OS: {{ ansible_distribution }} {{ ansible_distribution_major_version }} ip: {{ ansible_eth1.ipv4.address }}</p>
  </footer>
  </body>

</html>

