<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>

  <body>
    {{ body }}


# generated on {{ ansible_hostname }} OS: {{ ansible_distribution }} {{ ansible_distribution_major_version }} ip: {{ ansible_eth1.ipv4.address }}
  </body>

</html>

