<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <style>
      footer {position: absolute; bottom: 0;}
    </style>
  </head>

  <body>
    {{ body }}
    <p><img src="http://www.stickpng.com/assets/images/58967e9b0803320bf17c2fb8.png" alt="salt" width="400" height="450" /></p>

  <footer>
    <p># generated on {{ ansible_hostname }} OS: {{ ansible_distribution }} {{ ansible_distribution_major_version }} ip: {{ ansible_eth1.ipv4.address }}</p>
  </footer>
  </body>

</html>

